input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn1 {
  border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 170px;
  height: 170px;
  font-size: 35px;
  line-height: 50px;
  color: #000;
  background: #FFB6C1;

  }
  .btn2 {
    border-radius: 10px;
    position: relative;
    display: inline-block;
    width: 170px;
    height: 170px;
    font-size: 35px;
    line-height: 50px;
    color: #000;
    background: #A7F1FF;

    }
    .btn3 {
      border-radius: 10px;
      position: relative;
      display: inline-block;
      width: 170px;
      height: 170px;
      font-size: 35px;
      line-height: 50px;
      color: #000;
      background: #AEFFBD;

      }
      .btn4 {
        border-radius: 10px;
        position: relative;
        display: inline-block;
        width: 230px;
        height: 170px;
        font-size: 35px;
        line-height: 50px;
        color: #000;
        background: #E9FFA5;

        }
        .btn5 {
          border-radius: 10px;
          position: relative;
          display: inline-block;
          width: 230px;
          height: 170px;
          font-size: 35px;
          line-height: 50px;
          color: #000;
          background: #CCCCCC;

          }
          .btn6 {
            border-radius: 10px;
            position: relative;
            text-align: left;
            display: inline-block;
            width: 185px;
            height: 50px;
            font-size: 35px;
            line-height: 50px;
            color: #000;
            background: #FFB6C1;
            
            }


.btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

table{
  width: 85%;
  border-collapse: collapse;
}
table tr{
  text-align: center;
  background-color: #FFFFFF;
  font-size: 80px;
}
table th{
  font-size:50px;
  background-color: #000080;
  color: #FFFFFF;
}
body{
  background-color:#FFF;
  max-width: 40em;
  position: relative;
  right: -30%;
  top: 20em;
  transform: scale(1.5);
}
